/* Carousel.css */

/* Botón sin bordes ni fondo predeterminado */
.arrow {
    background-color: transparent;
    
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    padding: 10px;
    transition: transform 0.3s ease; /* Solo transición de la transformación */
    position: absolute;
    top: 50%;
    z-index: 10;
    border-radius: 50%;  /* Botón redondeado */
    font-weight: bold;  /* Negrita en las flechas */
    color: white;  /* Color de la flecha blanco */
    user-select: none; /* Evitar la selección de texto dentro del botón */
    
  }
  
  /* Elimina la apariencia predeterminada del botón */
  .arrow:focus {
    outline: none; /* Elimina cualquier borde o contorno predeterminado */
    
  }
  
  /* Efecto al pasar el cursor */
  .arrow:hover {
    transform: scale(1.1);
    background-color: #111827;
     /* Fondo gris oscuro al pasar el cursor */
  }
  
  /* Efecto al hacer clic (activo) */
  .arrow:active {
    transform: scale(1.1);  /* Mantiene el efecto de hover al hacer clic */
      /* Asegura que el fondo sea siempre negro al hacer clic */
    color: white;  /* Asegura que la flecha sea blanca al hacer clic */
  }
  
  /* Flecha siguiente */
  .arrow.next {
    right: 10px;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #111827; /* Color blanco para la flecha */
    transition: .2;
  }
  
  .arrow.next:hover,
  .arrow.next:active {
    color: white;  /* Mantiene el color blanco en hover y clic */
    
  }
  
  /* Flecha anterior */
  .arrow.prev {
    left: 10px;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #111827;
    transition: .2s;  /* Color blanco para la flecha */
  }
  
  .arrow.prev:hover,
  .arrow.prev:active {
    color: white;  /* Mantiene el color blanco en hover y clic */
    
  }
  