header {
  background-color: #111827;
  color: white;
}
.navbar {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

nav ul a{
  color: white;
  font-size: 1.2em;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
nav ul a:hover{
  cursor: not-allowed;
  
}

.presentation {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  padding: 1em;
}
@media (max-width: 768px) {
  .presentation {
    font-size: 13px;
  }
  
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  
}

main .card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 50%;
  border: 1px solid #e5e7eb;
  border-radius: 5%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}


.fill-blank {
  height: 4em;
  width: 100%;
  
}
main .main-contacts{
  display: flex;
  flex-direction: row;
}
main .main-links a{
  display: flex;
  color: black;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: 0.8s ;
}
main .main-links a:hover{
  
  transition: 0.3s ;
  translate: 0 -1em;
}
main .main-links img {
  height: 100%;
  width: 8%;
}

.bottom-footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  padding: 1em;
  color: #6B7280;
}