/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
}
header {
  padding: 20px;
  background: #09254c;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
nav #menu {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
